<div class="container">
	<div class ="jumbotron">
		<h1 class= "disply-4">About Us</h1>
		<div class ="row">
			<p style ='text-align:justify'> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tempus massa. Donec dapibus, tortor at porta varius, felis diam euismod nulla, sed sodales sem odio eget lacus. Integer commodo laoreet finibus. Nunc dapibus, massa sit amet condimentum auctor, mauris nulla convallis lacus, a fringilla leo nisi a nisi. Fusce tristique vel mauris vitae facilisis. In laoreet ipsum erat, a vestibulum tellus pretium a. Nunc ac ornare eros. Sed quis nulla sed orci bibendum vulputate eget id ligula. Nulla ut ullamcorper ligula. Cras eleifend tincidunt purus, interdum porta felis laoreet id. Donec sagittis feugiat urna, sit amet pellentesque eros cursus ac. Cras commodo eleifend sodales.
				<br/>
				<br/>
				Aliquam mattis erat in pulvinar ornare. Cras accumsan purus ac augue molestie elementum. Donec commodo purus eu est tincidunt, pellentesque vestibulum ex tristique. Fusce aliquet facilisis magna. In sodales ipsum neque, vitae volutpat leo tempor efficitur. Maecenas et nibh tincidunt, dictum ligula eget, ornare tellus. Maecenas odio lorem, ullamcorper sit amet consectetur at, imperdiet eget libero.
			</p>
			<hr class ="my-4"/>
		</div>
		<div class="btn-group" role="group" aria-label="Basic example">
  	<button type="button" onclick ='window.location.href ="https://twitter.com"' class="btn btn-secondary">Twitter</button>
			<button type="button" onclick ='window.location.href ="https://youtube.com"' class="btn btn-secondary">YouTube</button>
			<button type="button" onclick ='window.location.href ="https://instagram.com"' class="btn btn-secondary">Instagram</button>
	</div>
	</div>
</div>
